.popup__button {
    width: 100%;
    display: block;
    margin: 38px auto 0;
    padding: 0;
    height: 50px;
    background-color: #000;
    border: 1px solid #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    opacity: 1;
    transition: opacity .3s ease 0s;
    cursor: pointer;
}

.popup__button:hover {
    opacity: .8;
} 