.popup__window_type_form {
    box-sizing: border-box;
    padding: 33px 36px 37px;
    width: 430px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    white-space: nowrap;
}

@media (max-width: 545px) {
    .popup__window_type_form  {
        top: 123px;
        width: 350px;
        padding: 25px 22px;
    }
}

@media (max-width: 436px) {
    .popup__window_type_form  {
        top: 123px;
        width: 282px;
        min-height: 322px;
    }
}
